<h1><%= t 'nodes.editing' %></h1>

<%= render 'form' %>

<%= link_to t('actions.show'), @node, :remote => Rails.configuration.remote && cookies[:remote], "data-type" => "html" %> |
<%= link_to t('actions.back'), nodes_path, :remote => Rails.configuration.remote && cookies[:remote], "data-type" => "html" %>
