<div class="field">
  <%= f.label :subgraph_id %>
  <%= f.select :subgraph_id, Graph.all.delete_if{|g| g==@graph}.collect { |g| [g.name, g.id] }.insert(0, '') %>
  <%= link_to_remove_fields t('actions.remove').downcase, f %>
</div>
