<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> percentage completed:
</div>
<div style="padding:3px 0;padding-left:15px">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> 33%
</div>


<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> average question retries:
</div>
<div style="padding:3px 0;padding-left:15px">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> question1: 5
</div>
<div style="padding:3px 0;padding-left:15px">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> question2: 6
</div>



<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> incompleted:
</div>
<div style="padding:3px 0;padding-left:15px">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> jane doe
</div>
<div style="padding:3px 0;padding-left:15px">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> john doe
</div>

