<div style="padding:3px 0;">
  <svg class="student-button" id="john doe"><rect height=10 width=10 style="fill:#fff"></rect></svg> john doe
</div>

<div style="padding:3px 0;">
  <svg class="student-button" id="jane bob"><rect height=10 width=10 style="fill:#fff"></rect></svg> jane bob
</div>

<div style="padding:3px 0;">
  <svg class="student-button" id="foo bar"><rect height=10 width=10 style="fill:#fff"></rect></svg> foo bar
</div>

<div style="padding:3px 0;">
  <svg class="student-button" id="jane doe"><rect height=10 width=10 style="fill:#fff"></rect></svg> jane doe
</div>

<div style="padding:3px 0;">
  <svg class="student-button" id="john smith"><rect height=10 width=10 style="fill:#fff"></rect></svg> john smith
</div>

<div style="padding:3px 0;">
  <svg class="student-button" id="adam smith"><rect height=10 width=10 style="fill:#fff"></rect></svg> adam smith
</div>

<div style="padding:3px 0;">
  <svg class="student-button" id="barbara boxer"><rect height=10 width=10 style="fill:#fff"></rect></svg> barbara boxer
</div>

<div style="padding:3px 0;">
  <svg class="student-button" id="barbara hightower"><rect height=10 width=10 style="fill:#fff"></rect></svg> barbara hightower
</div>

<div id="student-select-done-button" style="width:100px;border:1px solid black;text-align:center;background-color:grey;cursor:pointer">
  refresh stats
</div>