<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> john doe
</div>

<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> jane bob
</div>

<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> foo bar
</div>

<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> jane doe
</div>

<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> john smith
</div>

<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> adam smith
</div>

<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> barbara boxer
</div>

<div style="padding:3px 0;">
  <svg class="group-button" id="blah" data-nodes="blah"><rect height=10 width=10 style="fill:#fff"></rect></svg> barbara hightower
</div>