<h1><%= t 'graphs.editing' %></h1>

<%= render 'form' %>

<%= link_to t('actions.show'), @graph, :remote => Rails.configuration.remote && cookies[:remote], "data-type" => "html" %> |
<%= link_to t('actions.back'), graphs_path, :remote => Rails.configuration.remote && cookies[:remote], "data-type" => "html" %>
