- if target.errors.any?
  #errors
    .alert.alert-error
      Please fix the following #{pluralize_word(target.errors.count, "error")}:
      %ul#error_list
        - target.errors.full_messages.each do |msg|
          %li= msg
  %br
