<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<h1>Editing graph_membership_graph</h1>

<%= render 'form' %>

<%= link_to 'Show', @graph_membership_graph %> |
<%= link_to 'Back', graph_membership_graphs_path %>
