<%= render :partial => "application/flash", :locals => { :flash => flash } %>

<h1>Editing course</h1>

<%= render 'form' %>

<%= link_to 'Show', @course, :remote => remote? %> |
<%= link_to 'Back', courses_path, :remote => remote? %>
