/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin:0;
}

#container {
  margin: 0 auto;
  width: 80%;
  min-width:800px;
  max-width:1600px;
  padding:0 5em;
}

#header {
  margin: 0 auto;
  position: relative;
  height: 5em;
  line-height: 5em;
  padding: 0 1.5em;
}

#header .title {
  display: inline-block;
}

#header .title a {
  color: #FFF;
  text-decoration: none;
  font-size: 3em;
}

#header .search {
  float:right;
  line-height: 3em;
}

#header .user_nav {
  height: 2em;
  line-height: 3em;
  /*border: black 1px solid;
  background-color: white;*/
  float:right;
}

.nav {
  display: inline-block;
  margin: 0 20px;
}

.nav a {
  margin: 0 5px;
  color: #FFF;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

#body {
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  min-width: 530px;
  min-height: 530px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.field_with_errors input, .field_with_errors select {
  background-color: #FF9494;
  color: red;
}

.field_with_errors label {
  color: red;
}

#error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#error_explanation ul {
  margin: 2px 24px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: disc;
}

.clear {
  clear: both;
}

.side-widget-tab-button {
  text-align:center;
  float:right;
  width:70px;
  padding: 3px;
  border: 1px solid black;
  border-bottom:0;
  background-color:gray;
  cursor:pointer;
}

#show-students-button {
  padding:5px;
  position:absolute;
  right: 55px;
  border: 1px solid black;
  background-color:grey;
  margin:2px;
  width: 130px;
  text-align:center;
  cursor:pointer;
}

.side-widget-content, #student-stats-widget-content {
  margin-left:18px;
  width:250px;
  float:right;
  min-height:100px;
  max-height:420px;
  padding:5px;
  overflow-y:scroll;
  display:none;
}

#student-stats-widget-content {
  width:200px;
}
