/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#window {
  background-color: #EAEAEA;
  min-height:500px;
  height:500px;
  border: 1px solid black;
}

.map-node {
  fill : silver;
}
.map-node-highlighted {
  fill : greenyellow;
}
.map-node-text {
  font-size : 1.3pt;
  text-anchor : middle;
}

.map-edge {
  stroke: black;
  stroke-width: 0.75;
}

.lp-node {
  fill : silver;
}
.lp-node-text {
  font-size : 8pt;
  text-anchor : middle;
}

.lp-edge {
  stroke: black;
  stroke-width: 2;
}
.lp-edge:hover {
  stroke : deepskyblue;
  stroke-width: 3;
}

.lp-arrowhead {
  stroke : black;
  fill : black;
}
.lp-arrowhead:hover {
  stroke : deepskyblue;
  fill : deepskyblue;
}

#lp-scroll-rect {
  fill : #606060;
}

.group-button {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
.group-button:hover {
  cursor: pointer;
}

.zoom-pan-button {
  fill:  #225EA8;
  stroke:  #0C2C84;
  stroke-miterlimit:  6;
  stroke-linecap:  round;
}
.zoom-pan-button:hover {
  stroke-width: 2;
}
.zoom-pan-compass {
  fill:  #fff;
  stroke:  #000;
  stroke-width:  1.5;
}
.zoom-pan-plus-minus {
  fill: #fff;
  pointer-events: none;
}

#learning-path-widget, #groups-widget {
  border:1px solid black;background-color:#D9D9D9;
}

#learning-path-widget { border-bottom:none }
#groups-widget-button{ border: 1px solid black }
#learning-path-widget-button:hover, #groups-widget-button:hover { cursor: pointer }

#groups-widget-content { max-height:500px; }

#node-widget {
  border: 1px solid black;
  padding:20px;
}
