/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#window {
  background-color: #EAEAEA;
  min-height:400px;
  border: 1px solid black;
  margin: 1em;
}
