/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

[data-controller="nodes"][data-action="new"], [data-controller="nodes"][data-action="edit"] {
  .field {
    margin: 5px 0;
  }

  .field .field-explanation{
    font-size: 0.8em;
    font-weight: bold;
    color: #999;
    float: right;
    padding-top: 2px;
  }

  .field.with-explanation { overflow: hidden }

  .field.with-explanation label {
    float: left;
  }

  .field-explanation-wrapper {
    float: left;
  }

  .field-explanation-wrapper .input-field {
    clear: both;
    display: block;
  }
}

.nodeslistTitle {
  display: inline-block;
  background-color: yellow;
  width:200px;
  text-align: center;
}

.nodeslist {
  display: inline-block;
  background-color: green;
  line-height:100%;
  width:200px;
  text-align: center;
}

table.nodesTable {
  border-spacing: 0px;
  width: 750px;
}

table.nodesTable td {
  width: 250px;
  vertical-align: top;
}

table.nodesTable h3 {
  margin: 0;
}

table.nodesTable ul {
  padding: 0;
  padding-left: 20px;
}

p { line-height: 1.3em; }
